{% extends 'partials/layout_coreiu.twig' %}

{% block content %}
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h4>
            Catálogo de Estados
            <a href="{{ 'mantenimiento/estados/nuevo'|url }}" class="btn btn-success float-right">
                <i class="fa fa-plus"></i>
            </a>
        </h4>
    </div>
    <div class="table-responsive mb-4">
        <table class="table datatable table-sm table-hover table-striped">
            <thead class="">
                <tr class="">
                    <th>NOMBRE</th>
                    <th>PAIS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="">
            {% for estado in estados %}
                <tr>
                    <td>{{ estado.estado }}</td>
                    <td>{{ estado.paises.pais }}</td>
                    <td>
                        <div class="btn-group d-flex">
                            <a href="{{ ('mantenimiento/estados/actualizar/' ~ estado.id)|url }}" class="btn btn-link text-info w-100 text-right">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                            <button class="btn btn-link text-danger w-100 text-left eliminar" data-target="{{ estado.id }}">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <caption>Listado de Estados: {{ estados.count }}</caption>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('body').on('click','.eliminar',function(){
            var codigo=$(this).data('target');
            let timerInterval;
            swal({
                title: '¿Estas seguro?',
                text: "Quieres eliminar el Estado",
                type: 'warning',
                customClass: 'animated tada',
                animation: false,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Eliminar Estado'
            }).then((result) => {
                if (result.value) {

                    $.ajax({
                        url:'{{ 'mantenimiento/estados/eliminar'|url }}',
                        dataType:'JSON',
                        data:{id:codigo},
                        type:'POST',
                        preventDefault:function(){},
                        success:function(r){
                            swal({
                                title: "Eliminada!",
                                html: 'Estado Eliminado con Exito<br>La ventana se cerrara en <strong></strong> segundos',
                                type: "success",
                                timer: 1000,
                                onOpen: () => {
                                    swal.showLoading()
                                    timerInterval = setInterval(() => {
                                        swal.getContent().querySelector('strong')
                                            .textContent = swal.getTimerLeft()
                                    }, 100)
                                },
                                onClose: () => {
                                    clearInterval(timerInterval);
                                }
                            }).then((result) => {
                                if (
                                    // Read more about handling dismissals
                                    result.dismiss === swal.DismissReason.timer
                                ) {
                                    location.reload();
                                }
                            });
                        },
                        error:function(request, status, error){
                            console.log(error);
                        }
                    });

                }
            })
        });
    </script>
{% endblock %}