{% extends 'partials/layout.twig' %}

{% block content %}
    <div class="container mt-4 profile-page">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ ('media/productos/'~ productos.galerias.first.nombre)|public }}" class="profile-picture" />
            </div>
            <div class="col-md-9">
                <div class="profile-head">
                    <h4>{{ productos.nombre }}</h4>
                    <h5>{{ productos.breve_descripcion }}</h5>
                    <h6>{{ productos.descripcion }}</h6>
                    <h5>{{ productos.precio }}</h5>
        </div>
        
         </div>
  </div>
{% endblock %}
