{% extends 'partials/layout.twig' %}
{% block content %}
    <div class="container">

        <div class="row">
            <a href="{{ 'tienda/vercarrito'|url }}"
             class="btn btn-success">
                Ver Carrito</a>
        </div>
        <div class="product-clean">
            <div class="row product">
                {% for producto in productos %}
                    <div class="col-md-4 col-lg-4">
                        <div class="item">
                            <a href="{{ ('media/usuarios/'~item.avatar)|public }}" data-toggle="lightbox">
                                <img src="{{ ('media/usuarios/'~item.avatar)|public }}" class="img-fluid">
                            </a>
                            <h3 class="name">{{ producto.nombre }}</h3>
                            <p class="title">{{ producto.categoria.nombre }}</p>
                            <p class="description">{{ producto.breve_descripcion }}</p>
                            <div class="options">
                                <a href="" class="btn btn-success AddCar" data-target="{{ producto.id }}">
                                    <i class="fa fa-cart-plus"></i>
                                </a>
                                <a href="" class="btn btn-info">
                                    <i class="fa fa-info"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $('body').on('click','.AddCar',function(){
            var codigo=$(this).data('target');
            $.ajax({
                url:'{{ 'tienda/addcar'|url }}',
                dataType:'JSON',
                data:{id:codigo},
                type:'POST',
                preventDefault:function(){},
                success:function(r){
                    if(r.response){
                        alert('Se agrego---');
                        //FUNCION PARA ACTUALIZAR EL CARRITO
                    }
                },
                error:function(request, status, error){
                    console.log(error);
                }
            });

        });
    </script>
{% endblock %}
