{% extends 'partials/layout_with_carousel.twig' %}

{% block content %}
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <h2 class="text-center">Productos Mas Vendidos</h2>
                        <div class="simple-slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="background-image:url({{ 'media/productos/bootstrap4.jpg'|public }});"></div>
                                    <div class="swiper-slide" style="background-image:url({{ 'media/productos/java.png'|public }});"></div>
                                    <div class="swiper-slide" style="background-image:url({{ 'media/productos/js-logo.png'|public }});"></div>
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                        <span class="float-right"><a class="btn btn-lg btn-link">Ver Mas</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="intro">
                        <h2 class="text-center">Productos Mas Visitados</h2>
                        <div class="simple-slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide img-fluid" style="background-image:url({{ 'media/productos/bootstrap4.jpg'|public }});"></div>
                                    <div class="swiper-slide img-fluid" style="background-image:url({{ 'media/productos/java.png'|public }});"></div>
                                    <div class="swiper-slide img-fluid" style="background-image:url({{ 'media/productos/js-logo.png'|public }});"></div>
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                        <span class="float-right"><a class="btn btn-lg btn-link">Ver Mas</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Nuestros Productos</h2>
            </div>
            <div class="row product">
                <div class="col-md-6 col-lg-4">
                    <div class="item">
                        <a href="{{ 'media/productos/bootstrap4.jpg'|public }}" data-toggle="lightbox">
                            <img src="{{ 'media/productos/bootstrap4.jpg'|public }}" class="img-fluid">
                        </a>
                        <!--<img class="" src="{{ 'img/martinfierro.jpg'|public }}" />-->
                        <h3 class="name">Curso Bootstrap 4</h3>
                        <p class="title">Curso</p>
                        <p class="description">
                            Curso de bootstrap 4 basico
                        </p>
                        <div class="options">
                            <a href="" class="btn btn-success">
                                <i class="fa fa-cart-plus"></i>
                            </a>
                            <a href="" class="btn btn-info">
                                <i class="fa fa-info"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="item">
                        <a href="{{ 'media/productos/java.png'|public }}" data-toggle="lightbox">
                            <img src="{{ 'media/productos/java.png'|public }}" class="img-fluid">
                        </a>
                        <!--<img class="" src="{{ 'img/martinfierro.jpg'|public }}" />-->
                        <h3 class="name">Curso de JAVA</h3>
                        <p class="title">Curso</p>
                        <p class="description">
                            Curso introductorio al lenguaje de programacion de JAVA
                        </p>
                        <div class="options">
                            <a href="" class="btn btn-success">
                                <i class="fa fa-cart-plus"></i>
                            </a>
                            <a href="" class="btn btn-info">
                                <i class="fa fa-info"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="item">
                        <a href="{{ 'media/productos/js-logo.png'|public }}" data-toggle="lightbox">
                            <img src="{{ 'media/productos/js-logo.png'|public }}" class="img-fluid">
                        </a>
                        <!--<img class="" src="{{ 'img/martinfierro.jpg'|public }}" />-->
                        <h3 class="name">Curso JavaScript</h3>
                        <p class="title">Curso</p>
                        <p class="description">
                            Curso introductorio a JavaScript
                        </p>
                        <div class="options">
                            <a href="" class="btn btn-success">
                                <i class="fa fa-cart-plus"></i>
                            </a>
                            <a href="" class="btn btn-info">
                                <i class="fa fa-info"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="item">
                        <a href="{{ 'media/productos/img-02.jpg'|public }}" data-toggle="lightbox">
                            <img src="{{ 'media/productos/img-02.jpg'|public }}" class="img-fluid">
                        </a>
                        <!--<img class="" src="{{ 'img/martinfierro.jpg'|public }}" />-->
                        <h3 class="name">Tennis Nike</h3>
                        <p class="title">Calzado</p>
                        <p class="description">
                            Tennis nike verdes
                        </p>
                        <div class="options">
                            <a href="" class="btn btn-success">
                                <i class="fa fa-cart-plus"></i>
                            </a>
                            <a href="" class="btn btn-info">
                                <i class="fa fa-info"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="item">
                        <a href="{{ 'media/productos/C0700.jpg'|public }}" data-toggle="lightbox">
                            <img src="{{ 'media/productos/C0700.jpg'|public }}" class="img-fluid">
                        </a>
                        <!--<img class="" src="{{ 'img/martinfierro.jpg'|public }}" />-->
                        <h3 class="name">Sudadera Lisa</h3>
                        <p class="title">Sudaderas</p>
                        <p class="description">
                            Sudadera lisa delgada
                        </p>
                        <div class="options">
                            <a href="" class="btn btn-success">
                                <i class="fa fa-cart-plus"></i>
                            </a>
                            <a href="" class="btn btn-info">
                                <i class="fa fa-info"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="item">
                        <a href="{{ 'media/productos/1066298982.jpg'|public }}" data-toggle="lightbox">
                            <img src="{{ 'media/productos/1066298982.jpg'|public }}" class="img-fluid">
                        </a>
                        <!--<img class="" src="{{ 'img/martinfierro.jpg'|public }}" />-->
                        <h3 class="name">Tennis Vans</h3>
                        <p class="title">Calzado</p>
                        <p class="description">
                            Tennis Vans clasicos
                        </p>
                        <div class="options">
                            <a href="" class="btn btn-success">
                                <i class="fa fa-cart-plus"></i>
                            </a>
                            <a href="" class="btn btn-info">
                                <i class="fa fa-info"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="team-grid" id="empresa">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Team</h2>
                <p class="text-center">
                    Nuestro equipo de desarrollo encargado de la creacion del sistema
                </p>
            </div>
            <div class="row people">
                <div class="col-md-4 item">
                    <div class="box" style="background-image:url({{ 'media/team/jesuscorona.jpg'|public }})">
                        <div class="cover">
                            <h3 class="name">Jesus Corona Ayala</h3>
                            <p class="title">BackEnd Developer</p>
                            <div class="social">
                                <a href="#">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="box" style="background-image:url({{ 'media/team/martinfierro.jpg'|public }})">
                        <div class="cover">
                            <h3 class="name">Martin Fierro Robles</h3>
                            <p class="title">FullStack Developer</p>
                            <div class="social">
                                <a href="#">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="box" style="background-image:url({{ 'media/team/gildardogracia.jpg'|public }})">
                        <div class="cover">
                            <h3 class="name">Gildardo Gracia Reyes</h3>
                            <p class="title">FrontEnd Developer</p>
                            <div class="social">
                                <a href="#">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-clean" id="contacto">
        <h2 class="text-center">Contactanos</h2>
        <form method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Nombre" />
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Correo Electronico" />
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="14" name="message" placeholder="Mensaje"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Enviar</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function(){

            // Initializing the swiper plugin for the slider.
            // Read more here: http://idangero.us/swiper/api/

            var mySwiper = new Swiper ('.swiper-container', {
                loop: true,
                grabCursor: true,
                effect: 'fade',
                paginationClickable: true,
                pagination: {
                    el: '.swiper-pagination',
                    dynamicBullets: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });

        });
    </script>
{% endblock %}
