{% extends 'partials/layout.twig' %}

{% block content %}
    <div class="product-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Productos</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            </div>
            <div class="row product">
                <div class="col-md-6 col-lg-4">
                    <div class="item">
                        <a href="{{ 'img/martinfierro.jpg'|public }}" data-toggle="lightbox">
                            <img src="{{ 'img/martinfierro.jpg'|public }}" class="img-fluid">
                        </a>
                        <!--<img class="" src="{{ 'img/martinfierro.jpg'|public }}" />-->
                        <h3 class="name">Nombre de Producto</h3>
                        <p class="title">Categoria</p>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur delectus dicta dolorem eveniet excepturi fugit in ipsa mollitia nam natus obcaecati omnis pariatur quasi quibusdam recusandae, ullam voluptatem voluptates.
                        </p>
                        <div class="options">
                            <a href="" class="btn btn-success">
                                <i class="fa fa-cart-plus"></i>
                                Add
                            </a>
                            <a href="" class="btn btn-info">
                                <i class="fa fa-info"></i>
                                Info
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="item">
                        <a href="{{ 'img/martinfierro.jpg'|public }}" data-toggle="lightbox">
                            <img src="{{ 'img/martinfierro.jpg'|public }}" class="img-fluid">
                        </a>
                        <!--<img class="" src="{{ 'img/martinfierro.jpg'|public }}" />-->
                        <h3 class="name">Nombre de Producto</h3>
                        <p class="title">Categoria</p>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur delectus dicta dolorem eveniet excepturi fugit in ipsa mollitia nam natus obcaecati omnis pariatur quasi quibusdam recusandae, ullam voluptatem voluptates.
                        </p>
                        <div class="options">
                            <!--<a href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>-->
                            <a href="" class="btn btn-success">
                                <i class="fa fa-cart-plus"></i>
                                Add
                            </a>
                            <a href="" class="btn btn-info">
                                <i class="fa fa-info"></i>
                                Info
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="item">
                        <a href="{{ 'img/martinfierro.jpg'|public }}" data-toggle="lightbox">
                            <img src="{{ 'img/martinfierro.jpg'|public }}" class="img-fluid">
                        </a>
                        <!--<img class="" src="{{ 'img/martinfierro.jpg'|public }}" />-->
                        <h3 class="name">Nombre de Producto</h3>
                        <p class="title">Categoria</p>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur delectus dicta dolorem eveniet excepturi fugit in ipsa mollitia nam natus obcaecati omnis pariatur quasi quibusdam recusandae, ullam voluptatem voluptates.
                        </p>
                        <div class="options">
                            <!--<a href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>-->
                            <a href="" class="btn btn-success">
                                <i class="fa fa-cart-plus"></i>
                                Add
                            </a>
                            <a href="" class="btn btn-info">
                                <i class="fa fa-info"></i>
                                Info
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="item">
                        <a href="{{ 'img/martinfierro.jpg'|public }}" data-toggle="lightbox">
                            <img src="{{ 'img/martinfierro.jpg'|public }}" class="img-fluid">
                        </a>
                        <!--<img class="" src="{{ 'img/martinfierro.jpg'|public }}" />-->
                        <h3 class="name">Nombre de Producto</h3>
                        <p class="title">Categoria</p>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur delectus dicta dolorem eveniet excepturi fugit in ipsa mollitia nam natus obcaecati omnis pariatur quasi quibusdam recusandae, ullam voluptatem voluptates.
                        </p>
                        <div class="options">
                            <!--<a href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>-->
                            <a href="" class="btn btn-success">
                                <i class="fa fa-cart-plus"></i>
                                Add
                            </a>
                            <a href="" class="btn btn-info">
                                <i class="fa fa-info"></i>
                                Info
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="item">
                        <a href="{{ 'img/martinfierro.jpg'|public }}" data-toggle="lightbox">
                            <img src="{{ 'img/martinfierro.jpg'|public }}" class="img-fluid">
                        </a>
                        <!--<img class="" src="{{ 'img/martinfierro.jpg'|public }}" />-->
                        <h3 class="name">Nombre de Producto</h3>
                        <p class="title">Categoria</p>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur delectus dicta dolorem eveniet excepturi fugit in ipsa mollitia nam natus obcaecati omnis pariatur quasi quibusdam recusandae, ullam voluptatem voluptates.
                        </p>
                        <div class="options">
                            <!--<a href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>-->
                            <a href="" class="btn btn-success">
                                <i class="fa fa-cart-plus"></i>
                                Add
                            </a>
                            <a href="" class="btn btn-info">
                                <i class="fa fa-info"></i>
                                Info
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="item">
                        <a href="{{ 'img/martinfierro.jpg'|public }}" data-toggle="lightbox">
                            <img src="{{ 'img/martinfierro.jpg'|public }}" class="img-fluid">
                        </a>
                        <!--<img class="" src="{{ 'img/martinfierro.jpg'|public }}" />-->
                        <h3 class="name">Nombre de Producto</h3>
                        <p class="title">Categoria</p>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur delectus dicta dolorem eveniet excepturi fugit in ipsa mollitia nam natus obcaecati omnis pariatur quasi quibusdam recusandae, ullam voluptatem voluptates.
                        </p>
                        <div class="options">
                            <!--<a href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>-->
                            <a href="" class="btn btn-success">
                                <i class="fa fa-cart-plus"></i>
                                Add
                            </a>
                            <a href="" class="btn btn-info">
                                <i class="fa fa-info"></i>
                                Info
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}