{% extends 'partials/layout_coreiu.twig' %}

{% block content %}
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h4>
            Catálogo de Tarjetas
            <a href="{{ 'mantenimiento/tarjetas/nuevo'|url }}" class="btn btn-success float-right">
                <i class="fa fa-plus"></i>
            </a>
        </h4>
    </div>
    <div class="table-responsive mb-4">
        <table class="table datatable table-sm table-hover table-striped">
            <thead class="">
                <tr>
                    <th>Propietario de tarjeta</th>
                    <th>Tarjeta</th>
                    <th>Propietario</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for tarjeta in tarjetas %}
                    <tr>
                        <td>{{ tarjeta.nombre ~ ' ' ~ tarjeta.apaterno ~ ' ' ~ tarjeta.amaterno }}</td>
                        <td>{{ tarjeta.numero }}</td>
                        <td>{{ tarjeta.usuario.nombre ~ ' ' ~ tarjeta.usuario.apaterno ~ ' ' ~ tarjeta.usuario.amaterno }}</td>
                        <td>
                            <div class="btn-group d-flex">
                                <a href="{{ ('mantenimiento/tarjetas/actualizar/' ~ tarjeta.id)|url }}" class="btn btn-link text-info text-right w-100">
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                                <button class="btn btn-link text-danger text-left w-100 eliminar" data-target="{{ tarjeta.id }}">
                                    <i class="fa fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block script %}
    <script>
        $('body').on('click','.eliminar',function(){
            var codigo=$(this).data('target');
            let timerInterval;
            swal({
                title: '¿Estas seguro?',
                text: "Quieres eliminar la tarjeta",
                type: 'warning',
                customClass: 'animated tada',
                animation: false,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Eliminar Tarjeta'
            }).then((result) => {
                if (result.value) {

                    $.ajax({
                        url:'{{ 'mantenimiento/tarjetas/eliminar'|url }}',
                        dataType:'JSON',
                        data:{id:codigo},
                        type:'POST',
                        preventDefault:function(){},
                        success:function(r){
                            swal({
                                title: "Eliminada!",
                                html: 'Categoria Eliminada con Exito<br>La ventana se cerrara en <strong></strong> segundos',
                                type: "success",
                                timer: 1000,
                                onOpen: () => {
                                    swal.showLoading()
                                    timerInterval = setInterval(() => {
                                        swal.getContent().querySelector('strong')
                                            .textContent = swal.getTimerLeft()
                                    }, 100)
                                },
                                onClose: () => {
                                    clearInterval(timerInterval);
                                }
                            }).then((result) => {
                                if (
                                    // Read more about handling dismissals
                                    result.dismiss === swal.DismissReason.timer
                                ) {
                                    location.reload();
                                }
                            });
                        },
                        error:function(request, status, error){
                            console.log(error);
                        }
                    });

                }
            })
        });
    </script>
{% endblock %}